@tailwind base;
@tailwind components;
@tailwind utilities;

.header-text {
  @apply text-5xl text-black;
}

.primary-button {
  @apply text-blue-50 bg-blue-800 uppercase rounded-lg mb-4 border p-2 text-center shadow transition duration-200 ease-in-out transform hover:-translate-y-px hover:shadow-md cursor-pointer;
}
.secondary-button {
  @apply text-gray-600 mb-4 bg-white uppercase border p-2 border-gray-400 rounded-lg text-center transition duration-200 ease-in-out transform hover:-translate-y-px shadow hover:shadow-md cursor-pointer;
}
.edit-button {
  @apply bg-white text-gray-600 uppercase rounded-lg mt-4 border p-2 text-center shadow transition duration-200 ease-in-out transform hover:-translate-y-px hover:shadow-md cursor-pointer;
}
.delete-button {
  @apply text-white bg-red-800 uppercase mt-2 border p-2 border-gray-400 rounded-lg text-center transition duration-200 ease-in-out transform hover:-translate-y-px shadow hover:shadow-md cursor-pointer;
}
.report-button {
  @apply text-blue-50 uppercase bg-blue-800 border p-3 border-gray-400 rounded-lg text-center transition duration-200 ease-in-out transform hover:-translate-y-px shadow hover:shadow-md cursor-pointer;
}

.card {
  @apply text-gray-600 uppercase mt-4 bg-white border p-2 border-gray-400 rounded-lg text-center transition duration-200 ease-in-out transform hover:-translate-y-px shadow hover:shadow-md cursor-pointer;
}

h1 {
  @apply text-3xl;
}

.page-enter-active {
  animation: bounce-in 0.8s;
}

.page-leave-active {
  animation: bounce-out 0.5s;
}

.fade {
  animation: fade 0.5s;
}

.page-enter-active {
  animation: bounce-in 0.3s;
}

.page-leave-active {
  animation: bounce-out 0.3s;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.progressstep {
  @apply z-10 bg-gray-400 text-white h-6 w-6 rounded-full flex items-center justify-center hover:bg-blue-700;
}

.activecolor {
  @apply z-10 bg-blue-700 text-white h-6 w-6 rounded-full flex items-center justify-center hover:bg-blue-700;
}

section {
  @apply max-w-screen-lg sm:m-auto px-6;
}

.progressbar1 {
  @apply w-0 transition-all duration-500 ease-in-out;
}
.progressbar2 {
  @apply w-1/3 transition-all duration-500 ease-in-out;
}
.progressbar3 {
  @apply w-2/3 transition-all duration-500 ease-in-out;
}
.progressbar4 {
  @apply w-full transition-all duration-500 ease-in-out;
}

/* .log-cloud {
  @apply bg-[url('assets/img/login-cloud.png')] w-16 h-10 absolute z-10;
} */
.log-spaceship {
  @apply w-16 h-10 absolute z-10;
}
.spaceship1 {
  @apply scale-50 animate-spin3;
}
.spaceship2 {
  @apply animate-spin3;
}
.spaceship3 {
  @apply scale-50 animate-spin;
}
.spaceship4 {
  @apply scale-75 animate-spin1;
}
.log-bg {
  @apply overflow-hidden relative;
}

@keyframes spin {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
